<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>RESTfull Routes</h1>
        <p>
            Una tabla que incluye todas las rutas restful.
        </p>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <p>
                ¿Qué significa <strong>"restful routes"</strong>?
            </p>
        </div>
        <div class="panel-body">
            <p>
                "Restful" significa <strong>Representational State Transfer</strong>,
                y "routes" es <strong>rutas</strong>.
                Es un patrón a seguir para establecer y estructurar las rutas cuando diseñamos
                nuestras aplicaciones web.
            </p>
        </div>
    </div>
    <table class="table table-hover">
        <h2>7 Restful-Routes</h2>
        <thead>
            <th>Nombre</th>
            <th>Ruta</th>
            <th>Verbo HTTP</th>
            <th>Propósito</th>
            <th>Método de Mongoose</th>
        </thead>
        <tbody>
            <tr class="active">
                <td>INDEX</td>
                <td>/gatos</td>
                <td>GET</td>
                <td>Lista de todos los gatos</td>
                <td>Gato.find()</td>
            </tr>
            <tr class="success">
                <td>NEW</td>
                <td>/gatos/new</td>
                <td>GET</td>
                <td>Muestra formulario para crear nuevo gato</td>
                <td>N/A</td>
            </tr>
            <tr class="warning">
                <td>CREATE</td>
                <td>/gatos</td>
                <td>POST</td>
                <td>Crea un nuevo gato y te redirige a algún lado</td>
                <td>Gato.create()</td>
            </tr>
            <tr class="danger">
                <td>SHOW</td>
                <td>/gatos/:id</td>
                <td>GET</td>
                <td>Muestra información de un gato en específico</td>
                <td>Gato.findById()</td>
            </tr>
            <tr class="info">
                <td>EDIT</td>
                <td>/gatos/:id/edit</td>
                <td>GET</td>
                <td>Muestra formulario para editar un gato en específico</td>
                <td>Gato.findById()</td>
            </tr>
            <tr class="active">
                <td>UPDATE</td>
                <td>/gatos/:id</td>
                <td>PUT</td>
                <td>Actualiza información de un gato en específico</td>
                <td>Gato.findByIdAndUpdate()</td>
            </tr>
            <tr class="success">
                <td>DESTROY</td>
                <td>/gatos/:id</td>
                <td>DELETE</td>
                <td>Borra un gato en específico, luego te redirige a algún lado</td>
                <td>Gato.findByIdAndDelete()</td>
            </tr>
        </tbody>
    </table>
</div>

<%- include("partials/footer") %>