<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>RESTfull Routes</h1>
        <p>
            Una tabla que incluye todas las rutas restful.
        </p>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <p>
                ¿Qué significa <strong>"restful routes"</strong>?
            </p>
        </div>
        <div class="panel-body">
            <p>
                "Restful" significa <strong>Representational State Transfer</strong>,
                y "routes" es <strong>rutas</strong>.
                Es un patrón a seguir para establecer y estructurar las rutas cuando diseñamos
                nuestras aplicaciones web.
            </p>
        </div>
    </div>
</div>

<%- include("partials/footer") %>